* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

.header {
    background: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to-rigth, #fce4ec, #e3f2fd);
}

.hero h2 {
    font-size:32px;
    margin-bottom: 16px;
}

.hero button {
    margin-top: 20px;
    padding: 14px 30px;
    background: #e53935;
    color:white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.services {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 16px;
    width: 200px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}